.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url('https://cdn.pocket-lint.com/r/s/750x/assets/images/138382-apps-feature-facebook-messenger-23-tips-and-tricks-you-ve-likely-never-tried-image1-unjpywwzfs-png.webp?v1'); */
  background-image: url('./images/facebook-messenger-dark-background.webp');
  background-position: center;
  background-attachment: fixed;
}

.AppBanner__area {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw; */
  width: 100%;
}

.message__area {
  display: flex;
  flex-direction: column-reverse;
  width: 90vw;
  /* align-items: center; */
}

.form__area {
  display: flex;
  justify-content: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
