.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  text-align: left;
  max-width: 70%;
}

.message__user {
  margin-left: auto;
  text-align: right !important;
  max-width: 70%;
}

 .MuiCard-root,
 .message__userCard,
 .MuiPaper-elevation1,
 .MuiPaper-rounded,
 .message_userCard
{

}

div.MuiCardContent-root:last-child {
  padding: 16px 16px 0 16px;
}

.message__userCard {
  /* background-color: #00C6FF !important; */
  background-color: #919cd9 !important;
  color: white;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}
